/* ===== PAGE BACKGROUND ===== */
.home-page {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* background image */
.home-page::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../assets/portal.png") center/cover no-repeat;
  
  transform: scale(1.05);
  z-index: -2;
}

/* dark overlay */
.home-page::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  z-index: -1;
}

/* ===== COMMON SECTION STYLE ===== */
.hero-section,
.features-section,
.stats-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* ===== HERO ===== */
.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
  max-width: 600px;
}

/* ===== FEATURES ===== */
.features-grid {
  display: flex;
  gap: 35px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  width: 280px;
  padding: 30px;
  border-radius: 14px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

.feature-card:hover {
 transform: translateY(-12px) scale(1.03);
  background: linear-gradient(135deg,#4f46e5,#22c55e);
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

/* ===== STATS ===== */
.stats-grid {
  display: flex;
  gap: 80px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-item h3 {
  font-size: 50px;
  margin-bottom: 10px;
}

.stat-item p {
  font-size: 18px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 32px;
  }

  .features-grid {
    gap: 20px;
  }

  .stats-grid {
    gap: 40px;
  }
}
.signup-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff4b2b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}


